<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>

    <script>
        // Configuration Tailwind pour supporter le mode sombre par classe
        tailwind.config = {
            darkMode: 'media', // Utilise les paramètres du système (Auto)
            theme: {
                extend: {
                    colors: {
                        'primary': '#4f46e5',
                        'primary-dark': '#4338ca',
                    }
                }
            }
        }
    </script>

    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-slate-50 dark:bg-slate-950 min-h-screen transition-colors duration-300">
    {% block body %}{% endblock %}

    <script>
        // Initialisation des icônes
        lucide.createIcons();
    </script>
    {% block javascripts %}{% endblock %}
</body>
</html>